.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    /* position: static; */
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
}
.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;

}
.header_optionLineOne{
    font-size: 10px;
}

.header_optionLineTwo{
    font-size: 13px;
    font-weight: 600;
}
.header_optionBasket{
    display: flex;
    align-items: center;
    color: white;
}
.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_option{

    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    color: white;

}

@media only screen and (max-width: 450px) {
    .header_logo{
        width: 80px;
        object-fit: contain;
        margin: 0 1px;
        margin-top: 15px;
    }
    /* .header_search{
        display: flex;
        flex: 1;
        align-items: center;
        border-radius: 24px;
    } */
    .header_searchInput{
        height: 12px;
        padding: 5px;
        border: none;
        width: 100%;
        outline: none;
    }
    .header_searchIcon{
        padding: 5px;
        height: 12px !important;
        background-color: #cd9042;
       width: 8px;
    }
    .header_optionLineOne{
        font-size: 8px;
    }
    
    .header_optionLineTwo{
        font-size: 10px;
        font-weight: 600;
    }
    .header_optionBasket{
        display: flex;
        align-items: center;
        color: white;
    }
    .header_Basket{
        width: 15px;
        height: 15px;
    }
    .header_basketCount{
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .header_nav{
        display: flex;
        justify-content: space-evenly;
    }
    
    .header_option{
    
        display: flex;
        flex-direction: column;
        /* margin: 10px; */
        margin-left: 3px;
        margin-right: 3px;
        color: white;
    
    }
  }